@media screen and (min-width: 300px) and (max-width: 767px) {
    #nav{
        display: none;
    }

    .content {
        flex-direction: column;
    }

    .search_mobile span {
        color: var(--color--icons);
    }

    .search_mobile {
        display: block;
    }

    .section_search {
        display: none;
    }

    #content_dashboard {
        padding: 1.25rem;
    }

    #content_dashboard,
    .card_dashboard_num {
        width: 100%;
    }

    .dashboard {
        flex-direction: column;
    }

    .table_card {
        overflow: hidden;
        overflow-x: auto;
    }

    .tables_payments {
        width: 100% !important;
        padding: 0 1.25rem;
        /* overflow: hidden; */
    }

    .table_options, .table_title {
        flex-direction: column;
        position: sticky;
        left: 0;
        top: 0;
    }

    .table_options form {
        width: 100%;
    }

    .search__filter,
    #select_table {
        width: 100%;
        margin: 0.5rem 0;
    }

    #table_payments__container {
        overflow: hidden;
    }

    .option_button_move {
        margin-top: 0.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 998px) {
    #nav {
        width: 50px !important;
    }

    .content {
        flex-direction: column;
    }

    #content_dashboard {
        width: 100%;
        padding: 1.25rem 1.25rem 0.5rem 1.25rem;
    }
    
    .tables_payments {
        width: 100%;
        padding: 1.25rem 1.25rem 0.5rem 1.25rem;
        margin-bottom: 1.25rem;
    }

    .search__filter {
        width: 300px;
    }
}

@media screen and (min-width: 999px) and (max-width: 1900px) {
    #nav {
        width: 50px !important;
    }

    .content {
        margin-bottom: 1.25rem;
    }

    .card_dashboard_num {
        max-height: 400px;
        min-height: 278px;
    }

    .table_card {
        padding: 1.25rem 1.25rem 0.5rem 1.25rem;
    }

    #table_payments__container {
        margin-top: 1.25rem;
    }

    .search__filter {
        width: 200px;
    }
}